rec {
  # Base configuration
  hostName = "choose_a_hostname";
  username = "smona";
  # One of "none" | "gnome"
  desktopEnvironment = "gnome";
  roles = { work = false; };

  # Overrideable defaults (the default should work most of the time)
  homeDirectory = "/home/${username}";
  nixOS = builtins.pathExists /etc/nixos/configuration.nix;
}
